﻿
@{
    ViewBag.Title = "ListSaleRep";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Direct2Rep.Models.SaleRepresentative>
@using Direct2Rep.Models
@using Direct2Rep.BL
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Mccv Real Estate
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Recent added sales representatives</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">List Of Sales Representatives</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Sales Firm Name</th>
                                    <th>Email</th>
                                    <th>State Covered</th>
                                    <th>Part Of State</th>
                                    <th>Email Receive Leads</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.SalesFirmName</td>
                                        <td>@item.Email</td>
                                        <td> @item.StatesCovered</td>
                                        <td> @item.PartOfState @item.PartOfState1 @item.PartOfState2 @item.PartOfState3</td>
                                        <td> @item.EmailReceiveLeads</td>
                                        <td>
                                            <a href="@Url.Action("UpdateSaleRep","Admin",new { Id=item.Id})"><img src="~/Content/images/edit.png" /></a>
                                            

                                            <a href="" data-target="#deleteSaleRepModal" data-toggle="modal" onclick="deleteSaleRep('@item.Id')"><img src="~/Content/images/delete.png" /></a>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<div class="modal fade" id="deleteSaleRepModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("DeleteSaleRep","Admin")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Update Document</h4>
                </div>
                <div class="modal-body">
                    <p>You are going to delete Sale Representative are you sure?</p>
                    <input type="hidden" class="form-control" id="propId" name="Id" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function deleteSaleRep(Id) {
        $('#propId').val(Id);
    }
</script>

