﻿
@{
    ViewBag.Title = "UpdateSaleRep";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Direct2Rep.Models.SaleRepresentative

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Dashboard</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-home font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Update Sales Representative</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">
                                    @ViewBag.Message
                                </div>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Error
                                </div>
                            }
                        </div>
                        <form role="form" class="form-horizontal" action="@Url.Action("UpdateSaleRep","Admin")" method="post" enctype="multipart/form-data">
                            <div class="form-body">

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Name</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Name" class="form-control" id="form_control_1" value="@Model.Name" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Sales Firm Name</label>
                                    <div class="col-md-10">
                                        <input type="text" name="SalesFirmName" class="form-control" id="form_control_1" value="@Model.SalesFirmName" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Email</label>
                                    <div class="col-md-10">
                                        <input type="email" name="Email" class="form-control" id="form_control_1" value="@Model.Email" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">

                                    <label class="col-md-2 control-label" for="form_control_1">State Covered</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="StatesCovered" id="form_control_1">
                                            <optgroup label="U.S. states"></optgroup>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                            <optgroup label="Canadian Provinces"></optgroup>
                                            <option value="AB">Alberta</option>
                                            <option value="BC">British Columbia</option>
                                            <option value="MB">Manitoba</option>
                                            <option value="NB">New Brunswick</option>
                                            <option value="NL">Newfoundland and Labrador</option>
                                            <option value="NS">Nova Scotia</option>
                                            <option value="ON">Ontario</option>
                                            <option value="PE">Prince Edward Island</option>
                                            <option value="QC">Quebec</option>
                                            <option value="SK">Saskatchewan</option>
                                            <option value="NT">Northwest Territories</option>
                                            <option value="NU">Nunavut</option>
                                            <option value="YT">Yukon</option>
                                            <option value="W.D.C">Washington D.C</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Part Of State</label>
                                    <div class="col-md-10">
                                        <div class="md-checkbox-inline">
                                            @if (Model.PartOfState == "North")
                                            {


                                                <div class="md-checkbox">
                                                    <input type="checkbox" name="PartOfState" id="checkbox33" class="md-check" value="North" checked>
                                                    <label for="checkbox33">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> North
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="md-checkbox">
                                                    <input type="checkbox" name="PartOfState" id="checkbox33" class="md-check" value="North">
                                                    <label for="checkbox33">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> North
                                                    </label>
                                                </div>
                                            }
                                            @if (Model.PartOfState1 == "South")
                                            {
                                                <div class="md-checkbox has-error">
                                                    <input type="checkbox" name="PartOfState" id="checkbox34" class="md-check" value="South" checked>
                                                    <label for="checkbox34">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> South
                                                    </label>
                                                </div>}
                                            else
                                            {
                                                <div class="md-checkbox has-error">
                                                    <input type="checkbox" name="PartOfState" id="checkbox34" class="md-check" value="South">
                                                    <label for="checkbox34">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> South
                                                    </label>
                                                </div>

                                            }
                                            @if (Model.PartOfState2 == "East")
                                            {
                                                <div class="md-checkbox has-info">
                                                    <input type="checkbox" name="PartOfState" id="checkbox35" value="East" class="md-check" checked>
                                                    <label for="checkbox35">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> East
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="md-checkbox has-info">
                                                    <input type="checkbox" name="PartOfState" id="checkbox35" value="East" class="md-check">
                                                    <label for="checkbox35">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> East
                                                    </label>
                                                </div>
                                            }
                                            @if (Model.PartOfState3 == "West")
                                            {
                                                <div class="md-checkbox has-info">
                                                    <input type="checkbox" name="PartOfState" id="checkbox36" value="West" class="md-check" checked>
                                                    <label for="checkbox36">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> West
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="md-checkbox has-info">
                                                    <input type="checkbox" name="PartOfState" id="checkbox36" value="West" class="md-check">
                                                    <label for="checkbox36">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> West
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Email To Receive Leads</label>
                                    <div class="col-md-10">
                                        <input type="email" name="EmailReceiveLeads" class="form-control" id="form_control_1" value="@Model.EmailReceiveLeads" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Upload Image</label>
                                    <div class="col-md-10">
                                        <input type="file" name="PictureUpload" class="form-control" id="form_control_1" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Upload Logo</label>
                                    <div class="col-md-10">
                                        <input type="file" name="LogoUpload" class="form-control" id="form_control_1" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn blue">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



